.buttonsof_mine {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  border: 3px solid gray;
  background: none;
  position: absolute;
  height: 10rem;
  width: 20rem;
  /* opacity: 0.5; */
  background-color: #aeb0b0;
  /* background-color: color|transparent|initial|inherit; */
}

.buttonsof_mine:hover {
  background-color: purple;
  color: white;
}

.buttonsof_mine a {
  color: black;
}

.buttonsof_mine a:hover {
  color: white;
}

.croslbtn {
  display: flex;
  justify-content: space-around;
  height: 28.75rem;
  align-items: center;
}
.team .member .pic {
  overflow: hidden;
  height: 180px;
  width: 180px;
  
}

