.buttonsof_mine {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  border: 3px solid gray;
  background: none;
  position: absolute;
  height: 10rem;
  width: 20rem;
  /* opacity: 0.5; */
  background-color: #aeb0b0;
  /* background-color: color|transparent|initial|inherit; */
}

.buttonsof_mine:hover {
  background-color: purple;
  color: white;
}

.buttonsof_mine a {
  color: black;
}

.buttonsof_mine a:hover {
  color: white;
}

.croslbtn {
  display: flex;
  justify-content: space-around;
  height: 28.75rem;
  align-items: center;
}
.team .member .pic {
  overflow: hidden;
  height: 180px;
  width: 180px;
  
}
/* .dropdown-menu1.show{
  display: block;
}
.dropdown-menu1 {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: grey;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
} */

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}